html,
body {
  overflow-x: hidden;
}

#header {
  position: relative;
  color: #eeeeee;
  padding-top: 1rem;
  min-height: 50vh;
  text-align: left;
  background: url("./img/showcase.jpg") no-repeat center center/cover;
}

.header-commands {
  margin-left: 22px;
  align-items: flex-end;
}

#header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 40, 49, 0.9);
}
#header > * {
  z-index: 10;
}

.content {
  position: relative;
}

.navbar-brand-text {
  opacity: 0.5;
}

.header-titles h1 {
  font-weight: 700;
  line-height: 2.5rem;
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  margin: 10px;
  text-align: center;
  border-radius: 50%;
  border: 3px dashed #eeeeee;
  margin-bottom: 0;
  background-color: rgba(34, 40, 49, 0.8);
}

.main-btn-kontakt {
  width: 75px;
  height: 75px;
}

.main-btn:hover {
  text-decoration: none;
}

.main-btn i {
  color: #00adb5;
}

.btn-and-label:hover {
  opacity: 0.6;
}

.btn-and-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.btn-and-label p {
  font-size: 1.2rem;
  font-weight: 700;
}

.brands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

.brand {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s;
}

#mercedes {
  background: url("./img/logos/mercedes.png") no-repeat center center/cover;
  background-position: center center;
}

#bmw {
  background: url("./img/logos/bmw.png") no-repeat center center/cover;
}

#vw {
  background: url("./img/logos/vw.png") no-repeat center center/cover;
}

#alfa {
  background: url("./img/logos/alfa.png") no-repeat center center/cover;
}

@media (min-width: 634px) {
  .header-commands {
    justify-content: start;
  }
}

@media (max-width: 634px) {
  .brand {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 450px) {
  .brand {
    height: 70px;
    width: 70px;
  }
}

.about {
  background: #393e46;
  color: #eeeeee;
}

.lokacija,
.kontakt,
.cijene {
  color: #eeeeee;
  background: #393e46;
}

.footer {
  color: #393e46;
}

.footer a {
  text-decoration: none;
  color: #393e46;
}

.text-animated {
  transition: all 0.5s;
  transform: translateX(-200px);
}

.show {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.group-label {
  cursor: pointer;
}

#map {
  height: 400px;
  width: 100%;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 40, 49, 0.2);
}

@media (max-width: 768px) {
  #carousel-col {
    padding-left: 15px !important;
    margin-left: 1.5rem !important;
  }
}
